export PULUMI_ACCESS_TOKEN=pul-2f9e00fa0f0c165263976881624d9f9a49f63f7f
export GOOGLE_CLOUD_PROJECT=abk-gcp-web
export GOOGLE_APPLICATION_CREDENTIALS=$PWD/pulumi-gcp-key.json
# source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc"
# source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc"
